---
layout: post
title: Data Augmentation for Speaker Verification
subtitle: Make Speaker Verification Robust to Noise
comments: true
bigimg: /img/notes.jpg
tags: [research]
---