---
layout: page
---

{% if page.profile %}
  <div class="profile col one {{ page.profile.align }}">
    {% if page.profile.image %}
      <img class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
    {% endif %}

    {% if site.email %}
      <div class="address">
        <center><a href="mailto:{{ site.email }}    ">Email</a>
        {% if site.github %}
            / <a href="https://www.github.com/    michaelvll">GitHub</a>
        {% endif %}
        </center>
      </div>
    {% endif %}
    
  </div>
{% endif %}

{{ content }}
