---
layout: page
---
{% if page.profile %}
  <div class="profile col one {{ page.profile.align }}">
    {% if page.profile.image %}
      <a href="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
        <img class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
      </a>
    {% endif %}
    {% if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
    {% endif %}

    <div class="address">
        <center>
        {% if site.email %}
            {% comment %} {% assign has_former = true %} {% endcomment %}
            {% comment %} <a href="mailto:{{ site.email }}">Email</a> {% endcomment %}
            {{ site.email }}
            <p></p>
        {% endif %}
        {% if site.scholar_userid %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}"  target="_blank" title="Google Scholar">Scholar</a>
        {% endif %}
        {% if site.github_username %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="https://www.github.com/{{ site.github_username}}" target="_blank" title="GitHub">GitHub</a>
        {% endif %}
        {% if site.linkedin_username %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn">LinkedIn</a>
        {% endif %}
        </center>
    </div>
    
  </div>
{% endif %}

<div class="content">
{{ content }}
</div>
