---
---

{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr>[<a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a>]</abbr>
  {% else %}
    <abbr>[{{entry.abbr}}]</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">
<div class="namecard">
    <table>
    <tr>
    <td class="img-td">
    {% if entry.image %}
        <a href="{{ entry.image | prepend: '/assets/papers/img/' }}">
            <img src="{{ entry.image | prepend: '/assets/papers/img/' }}" width="100%">
        </a>
    {% endif %}
    </td>
    <td class="txt-td">
        {% if entry.type == "thesis" %}
            {{reference}}
        {% else %}
            <span class="title"><strong>{{entry.title}}</strong></span>
            <span class="author nolinkcolor">
            {% for author in entry.author_array %}
                {% if forloop.length == 1 %}
                {% if author.last == site.scholar.last_name or author.last == "Wu*" %}
                    <em>{{author.first}} {{author.last}}</em>
                {% else %}
                    {{author.first}} {{author.last}}
                {% endif %}
                {% else %}
                {% unless forloop.last %}
                    {% if author.last == site.scholar.last_name or author.last == "Wu*" %}
                    <em><a href="{{site.baseurl}}">{{author.first}} {{author.last}}</a></em>,
                    {% else %}
                    {% if site.data.coauthors[author.first] %}
                        <a href="{{site.data.coauthors[author.first].url}}" target="_blank">{{author.first}} {{author.last}}</a>, 
                    {% else %}
                        {{author.first}} {{author.last}},
                    {% endif %}
                    {% endif %}
                {% else %}
                    {% if author.last == site.scholar.last_name or author.last == "Wu*" %}
                    and <em><a href="{{site.baseurl}}">{{author.first}} {{author.last}}</a></em>
                    {% else %}
                    {% if site.data.coauthors[author.first] %}
                        and <a href="{{site.data.coauthors[author.first].url}}" target="_blank">{{author.first}} {{author.last}}</a> 
                    {% else %}
                        and {{author.first}} {{author.last}}
                    {% endif %}
                    {% endif %}
                {% endunless %}
                {% endif %}
            {% endfor %}
            </span>

            <span class="periodical">
            {% if entry.type == "article" %}
            <em>{{entry.journal}}</em>
            {% elsif entry.type == "inproceedings" %}
            <em>In {{entry.booktitle}}</em>
            {% endif %}
            {% if entry.year %}
            {{entry.year}}
            {% endif %}
            {% if entry.oral %}
                <strong> (Oral)</strong>
            {% endif %}
            </span>
        {% endif %}

        <span class="links">
        {% if entry.abstract %}
            {% assign has_former = true %}
            <a class="abstract">Abstract</a>
        {% endif %}
        {% if entry.arxiv %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>
        {% endif %}
        {% if entry.html %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.html }}" target="_blank">HTML</a>
        {% endif %}
        {% if entry.pdf %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.pdf }}" target="_blank">Paper</a>
        {% endif %}
        {% if entry.local_pdf %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.local_pdf | prepend: '/assets/papers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>
        {% endif %}
        {% if entry.supp %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>
        {% endif %}
        {% if entry.poster %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>
        {% endif %}
        {% if entry.slides %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>
        {% endif %}
        {% if entry.demo %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.demo }}" target="_blank">Demo</a>
        {% endif %}
        {% if entry.code %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.code }}" target="_blank">Code</a>
        {% endif %}
        {% if entry.website %}
            {% if has_former == true %} | {% endif %}
            {% assign has_former = true %}
            <a href="{{ entry.website }}" target="_blank">Website</a>
        {% endif %}
        </span>

        <!-- Hidden abstract block -->
        {% if entry.abstract %}
        <span class="abstract hidden">
            <p>{{ entry.abstract }}</p>
        </span>
        {% endif %}
    </td>
    </tr>
    </table>
</div>
</div>

